<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>785503781697-kerd9uooaklaak23sdlpq6alkbd1gaqp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.785503781697-kerd9uooaklaak23sdlpq6alkbd1gaqp</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>785503781697-2mp7mmmqhkdrvkanqa7pkd7c388lqpv1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAWd4w1KbZ0yc2T1VL5ULRIg7x9h1VGAAc</string>
	<key>GCM_SENDER_ID</key>
	<string>785503781697</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tatoinc.theBearBoard</string>
	<key>PROJECT_ID</key>
	<string>the-bear-board</string>
	<key>STORAGE_BUCKET</key>
	<string>the-bear-board.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:785503781697:ios:d2cf4356ca72af9d5097c0</string>
</dict>
</plist>